.sidebarprofile__photo {
   width: 200px;
   height: 200px;
   border-radius: 50%;
}

.sidebarprofile__line {
   height: 10px;
   width: 99%;
   background-color: #0D1317;
   margin: 20px;
}

.sidebarprofile__name {
   padding: 0px 25px;
   padding-top: 10px;
   font-size: 16px;
   align-self: flex-start;
}

.sidebarprofile__detail {
   padding: 0px 25px;
   font-size: 16px;
   align-self: flex-start;
   width: 100%;
}

.sidebarprofile__detail .title {
   font-size: 13px;
   color: #018F82;
}

.sidebarprofile__detail .item {
   padding: 15px 0px;
   border-bottom: 1px solid #30383D;
}

