.sidebarcontactonchat {
   display: flex;
   padding: 20px 20px;
   border-bottom: 1px solid #2A2F32;
   cursor: pointer;
   box-sizing: border-box;
   width: 100%;
}

.sidebarcontactonchat:hover {
   background: #2A2F32;
   width: 100%;
}
.sidebarcontactonchat:active {
   background: #3d454a;
}

.sidebarcontactonchat__info {
   margin-left: 10px
}

.sidebarcontactonchat__info h2 {
   font-weight: bold;
}