.chat {
   display: flex;
   width: 100vw;
   height: 100vh;
}

.chat__main {
   display: flex;
   flex-direction: column;
   background: blue;
   flex: 0.65;
   border-left: 1px solid rgb(94, 94, 94);

}

.chat__header {
   display: flex;
   background-color: #2A2F32;
   justify-content: space-between;
   padding: 20px;
   color: #fff;
}

.chat__headerInfo {
   display: flex;
   align-items: center;
}

.chat__headerInfo h2 {
   font-weight: bold;
   margin-left: 15px;
}

.chat__headerRight {
   display: flex;
   align-items: center;
   justify-content: flex-end;
   flex: 0.09;
}