.sidebar {
   background: #131C21;
   flex: 0.30;
   color: #dddddd;
   /* min-width: 300px; */
   border-right: 1px solid #2A2F32;
}

.sidebar__header {
   display: flex;
   padding: 20px;
   justify-content: space-between;
   background-color: #2A2F32;
   border-right: 1px solid #2A2F32;
}

.sidebar__headerRight {
   display: flex;
   justify-content: space-between;
   min-width: 120px;
   padding-left: 10px;
   align-items: center;
   margin-left: auto;
}

.sidebar__search {
   height: 65px;
   background-color: #131C21;
   padding: 10px;
   width: 100%;
   border-bottom: 1px solid #2A2F32;
}

.sidebar__searchContainer {
   padding: 10px;
   background: #2A2F32;
   border-radius: 20px;
}

.sidebar__searchContainer > input {
   border: none;
   outline-width: 0;
   color: #A0AEC0;
   background: #2A2F32;
   width: 90%;
   padding-left: 10px;
}

.sidebar__contact {
   box-sizing: border-box;
   display: flex;
   flex-direction: column;
   flex: 1;
   height: 77%;
}

.sidebar__contactonchat {
   box-sizing: border-box;
   display: flex;
   flex-direction: column;
   flex: 1;
   height: 77%;
   overflow: auto;
}

.active {
   background-color: #2A2F32;
}